html, body {
    margin:0;
    padding:0;
}
h1 {
    margin:0;
}

body{
	background-color: grey;
}

.cool{
	visibility: hidden;
	width: 100px;
	height: 100px;
	background-color: green;
	transition: background-color 1s;
}

.cool.red{
	visibility: visible;
	background-color: red;
}